// .section {
//   z-index: 100;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: 0 auto;
//   position: fixed;
//   background-color: rgba(255, 255, 255, 0.8);
// }

.loader {
//   position: absolute;
//   left: 50%;
//   top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 2px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
